body{
  background-image: url(../img/yu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.yuva{
  margin-left: 120px;
}

.web{
  margin-left: 115px;
  margin-top: 10px;
  width: 210px;
  float: left; 
}
.web li{
  list-style-type: none;
  margin-bottom: 5px;
  
}
.web a{
  text-decoration: none;
  color:white;
  padding:11px;
  text-align: left;
  background-color: #08aeac;
  font-family: arial;
  font-size: 12px;
  width:142px;
  display: block;
  box-shadow: inset 0 0 0 0 #021533;
  transition: all ease-in-out 1s;

 }
.web a:hover{
  box-shadow: inset #021533 200px 0 0 0;

}
.web1{
  background: url(../img/bg-card2.png) repeat-x right top #f4f4f4;
  height:540px;
  width:470px;
  float: left;
  margin-top: 21px;
  margin-left: 4px;
  margin-right: 5px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
  border-bottom: 15px solid white;
  border-top: 6px solid black;
  text-align: center;
}
.img{
  border:6px solid #ccc;
  border-radius: 50%;
  height:190px;
  width:190px;
  margin-top: 50px;
}
.web1 span{
  font-family: arial;
  color: #021533;
  font-size: 30px;
  font-weight: bold;
}
.web1 h3{
  font-family: arial;
  color: #08aeac;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 4px;
}
.web1 h5{
  font-family: arial;
  color: #021533;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px; 
}
.web1 p{
  font-family: arial;
  font-size: 15px;
 color: gray;
 margin-bottom: 30px;
}
.mail{
  padding:13px;
  border-radius: 6px;
  background-color: #08aeac;
  border:transparent;
  outline: none;
  color: white;
  text-decoration: none;

}
.web1 li{
  list-style-type: none;
}
.icon{
  float: left;
  margin-left: 55px;
  margin-top: 20px;
}
.icon:hover i{
 color: #08aeac;
}
.borderimg{
  background-image: url(../img/hr1.png) ;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  height: 1px;
}
.web2{
  background: url(../img/bg-card2.png) repeat-x right top #f4f4f4;
  height:540px;
  width:470px;
  float: left;
  margin-top: 21px;
  margin-left: 4px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
  border-bottom: 15px solid white;
  border-top: 6px solid black;
  text-align: center;
  overflow-x: hidden;
  position:absolute;
  left: 750px;
  display: none;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  
}
.h3{
  font-family: arial;
  color: #021533;
  font-weight: bolder;
  margin-top: 50px;
  font-size: 20px;
  text-align: left;
  margin-left: 35px;
  margin-bottom: 10px;
}
.web2 hr{
  width:85%;
  /*border-color: black;*/
}
.web2 a{
  text-decoration: none;
  color:white;
  padding:9px;
  text-align: center;
  background-color: #08aeac;
  font-family: arial;
  font-size: 10px;
  display: block;
  box-shadow: inset 0 0 0 0 #021533;
  transition: all ease-in-out 1s;
}
.web2 a:hover{
  box-shadow: inset #021533 200px 0 0 0;
}
.web2 li{
  float: left;
  list-style-type: none;
}
.download{
  margin-right: 5px;
  width:145px;
  margin-left:0px; 
}
.touch{
  width:100px;
}
.web3 {
  position: relative;
  margin-top: 50px;
  text-align: left;
  margin-left: 43px;
  /*padding: 10px;*/
  color: #08aeac;
  font-family: arial;
  border-left: 3px solid #08aeac;
  /*border-left-height:25px;*/
 /* height: 35px;*/
}
.web3 i{
  margin-left: 10px;
}
.web4 {
  text-align: left;
  color: gray;
  /*border:solid 1px gray;*/
  border-style: double;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.web4 h3{
  color:black;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 0px;

}
.web4 hr{
  width: 96%;
  margin-left: 1px;

}
.web4 h6{
  margin-bottom: 4px;
  line-height: 0px;

}
.web4 p{
  font-family: sans-serif;
  color:black;
  font-size: 12px;
  text-align: justify;
  /*width:85%;
  margin-left: 10px;*/
}

#skills h4, #portfolio h4, #contact h4{
  font-family: sans-serif;
  margin-top: 40px;
  text-align: left;
  font-size: 15px;
  margin-left: 35px;
  font-weight: bold;
  border-bottom:1px dotted #021533;
  width:85%;
  padding-bottom: 7px;
}
#skills li{
  
  float: none;
  text-align: left;
  padding: 7px;
  border:1px solid;
  width: 87%;
  margin-bottom: 10px;
  background-color: #08aeac;
  border-radius: 5px;
  font-family:sans-serif;
  font-weight: bold;
  border: transparent;
}
.list{
  font-size: 12px;
  color:#fff;
  margin-left: -6px;

}
.image{
  width: 400px;
  height: 250px;
  border:1px white;
  border-radius: 5px;
  padding-bottom: 10px;
  border:transparent;
}
.image1{
  width: 350px;
  height:450px;
  padding-bottom: 10px;
}
.map{
  padding-top: 20px;
  width: 400px;
  height: 250px;
}
#contact p{
  text-align: left;
  font-family: sans-serif;
  margin-left: 35px;
  font-size: 15px;
}
.web2 p{
  font-family: sans-serif;
  color:black;
  font-size: 14px;
  text-align: justify;
  width:85%;
  /*margin-left: 35px;*/
  line-height: 22px;
}
#bio p{
  font-family: sans-serif;
  color:black;
  font-size: 14px;
  text-align: justify;
  width:85%;
  margin-left: 35px;
  line-height: 22px;
}

/*#home {
  z-index: 6;
  opacity: 1;

}*/
/*/*#resume{
  z-index: 5;
  opacity: 0;
  /*transition : left 5s,opacity 1s;*/
/*}
#resume.active{
  opacity: 1;
}
#skills{
   z-index: 4;
   opacity: 0;*/
  /*transition : left 2s,opacity 1s;
}
#skills.active{
  opacity: 1;
}
#portfolio{
   z-index: 3;
   opacity: 0;
  transition : left 2s,opacity 1s;
}
#portfolio.active{
  opacity: 1;
}
#bio{
   z-index: 2;
   opacity: 0;
  /*transition : left 2s,opacity 1s;*/
/*}
#bio.active{
  opacity: 1;
}
#contact{
   z-index: 1;
   opacity: 0;
  transition : left 2s,opacity 1s;
}
#contact.active{
  opacity: 1;
}
*/
